body {
    background: lightslategray;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    max-width: 1024px;
}

.header {
}

.header-container {
    display: grid;
    background: lightcoral;
    grid-template-columns: 70px 1fr 500px;
    grid-template-rows: 70px;
    grid-template-areas: "logo menu"
}

.menu-logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}

.logo {
    max-width: 50px;
}

.menu {
    grid-area: menu;
}

 /* 
 #21A6FF 
 #FF0000
 #74EA00
 */